.container {
    margin: 5rem;
}

.position-relative {
    position: relative;
    width: 100%;
}

.postition-absolute {
    position: absolute;
    top: 0.5rem;
    right: 0.8rem;
    z-index: 1;
}

.cursor-pointer {
    cursor: pointer;
}

.btn-link {
    display: flex;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none !important;
}

.align-left {
    text-align: left !important;
}

.required {
    color: $danger;
}

.text-ceter {
    text-align: center !important;
}