$blue: #0b7de2;
$blue-light: #abcfef;
$bg-theme:#f0f2f5;
$black :#0f0e0e;
$btn-primary:#1c75d3;
$btn-hover:#0056b3;
$white:white;
$input-color:#ccc;
$color-shadow:rgba(0, 0, 0, 0.1);
$danger:red;
$themecolor:#e961fb;
$light-green:rgb(233, 241, 255);
$active-color:#8f00a2;
$menu-hover:#f7bdff;