.auth-wrapper {
    height: 100vh;
    width: 100vw;
    background: $bg-theme;
    display: flex;
    justify-content: center;
    align-items: center;

    .auth-box {
        background: $white;
        padding: 2rem;
        border-radius: 0.1rem;
        box-shadow: 0 0 1.5rem $color-shadow;
        text-align: center;
        width: 30%;

        form {
            display: flex;
            flex-direction: column;
            margin: 1rem auto;
            gap: 1rem;

            input {
                width: 100%;
                padding: 0.5rem;
                border: 0.05rem solid $input-color;
                border-radius: 5px;
                font-size: 1rem;

                &:focus {
                    outline: none;
                }

            }

            button {
                padding: 0.5rem;
                background: $btn-primary;
                color: $white;
                border: none;
                border-radius: 0.5rem;
                font-size: 1rem;
                cursor: pointer;

                &:hover {
                    background: $btn-hover;
                }
            }
        }
    }
}